@import "null.css";

body {
   font-family: "Lato", serif;
   font-size: 20px;
   font-weight: 400;
   color: #1E212C;
   line-height: 1.5;
}
.title {
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
}
.image {
   width: 810px;
   height: 360px;
}
.paragraph-1 {
   font-weight: 700;
}
.paragraph-2 {
   font-size: 16px;
   line-height: 1.6;
}
